@import './variables.scss';

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .file {
        margin: 20px;
        padding: 10px;
    }
}

@media only screen and (max-width: $breakpoint-tablet) {
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;

        .container {
            align-items: normal;
            min-height: 150px;
            display: flex;
            justify-content: center;

            .card {
                max-width: 100%;
                width: 200px;
                margin: 10px;
                display: block;
            }
        }
    }
}